
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    flex-direction: column;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 0 auto;

  }
  .button-style {
    padding: 20px 40px;
    font-size: 20px;
    color: white;
    background-color: #9a65c5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 600px;
    height: 150px;
  }
  
  /* Button hover effect */
  .button-style:hover {
    background-color: #4231d3;
  }
